* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial';
    font-style: normal;
}

body {
    position: relative;
    background: #F3F5FC;
}

main {
    display: flex;
    align-items: 0 auto;
}

.textInput {
    width: 100%;
    height: 470px;
    font-size: 20pt;
    background-color: transparent;
    border: none;
    outline: none;
    color: #0A3871;
}

textarea {
    resize: none;
}

.button {
    margin: 8px 0;
    height: auto;
    padding: 18px;
    width: 70%;
    border: 1px solid #a5a5a5;
    cursor: pointer;
    border-radius: 10px;
    background-color: white;
    transition: 200ms;
}

.button:active {
    padding: 10px;
    margin: 10px;
}

.spaceText {
    border: 1px solid #ededed;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
}

.spaceText p {
    font-size: 12px;
}

#containerOptions {
    background-color: #f3f3f3;
    max-width: 420px;
    border-radius: 20px;
    text-align: center;
}

#containerOptions>h2,
img {
    padding: 30px;
    text-align: center;
}

#containerOptions,
.encrypt,
.decrypt {
    box-shadow: 0 1px 5px #c7c7c7;
    box-shadow: 0px 24px 32px -8px rgb(0 0 0 / 18%);
}


.encrypt {
    background-color: #0a3871;
    color: #fff;
    width: 50%;
    border: 1px solid #5b6f89;
    margin: 5px;
}

.decrypt {
    width: 50%;
    margin: 5px;
}

#containerResult {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    height: 472px;
    max-height: auto;
    margin: 0;
}


#containerResult>p:first-child {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
}

#containerResult>p:last-child {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.inputButtons {
    float: left;
    width: 70%;
    text-align: center;
    margin: 1px 0 0 10px;
    padding: 0 5px 5px;
}

.inputButtons>h1 {
    padding: 5px;
}

.result {
    float: right;
    margin: 30px 10px 0 0;
    padding: 0 5px 5px;
}

.buttons {
    display: flex;
    top: 40px;
    margin-bottom: 10px;
}

.textLimits {
    font-size: 12px;
    font-weight: bold;
}

.textResultInput {
    background: transparent;
    border: none;
    border: black 1px solid;
    border-radius: 10px;
    padding: 4px;
    font-size: 18px;
    animation: textResultInput 1s ease-in-out forwards;
    box-shadow: 1px 1px 1px 1px black;
}

@keyframes textResultInput {
    from {
        width: 0;
        height: 0;
    }

    to {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 850px) {
    header {
        text-align: center;
    }

    #containerOptions {
        background-color: #f3f3f3;
        height: 100%;
        border-radius: 20px;
        max-width: 100%;
    }

    #containerResult {
        width: 100%;
        min-height: auto;
        margin-bottom: 5px;
    }

    main {
        width: 100%;
        display: block;
    }

    .encrypt {
        background-color: #0a3871;
        color: #fff;
        width: 100%;
        border: 1px solid #5b6f89;
        margin: 5px 0;
    }

    .decrypt {
        width: 100%;
        margin: 0;
    }

    .inputButtons {
        width: 90%;
        margin: 1px 0 0 10px;
        float: none;
    }

    .result {
        margin: 0 auto;
        width: 90%;
        float: none;
        display: block;
        text-align: center;
    }

    .buttons {
        display: block;
        margin-bottom: 0;
    }
}